@tailwind components;

.left-panel {
	scrollbar-width: thin;
	scrollbar-color: transparent transparent;
}

@layer components {
	.leftpanel-item {
		@apply
			p-[10px_10px] 
			flex
			w-[90%] 
			gap-[15px] 
			items-center 
	}
	.leftpanel-svg-size {
		@apply h-[24px] w-[24px]
	}
}

@layer components {
	.item {
		@apply 
			leftpanel-item 
			rounded-[10px] 
			cursor-pointer;
		span {
			@apply 
				text-[14px] 
				font-['Space_Grotesk'] 
				text-[rgba(0,0,0,0.7)];
		}
		svg {
			@apply leftpanel-svg-size;
		}

		button {
			@apply
				bg-[#42acde] 
				text-white 
				outline-transparent 
				border-none 
				rounded-[20px] 
				p-[1vh] 
				w-[100%]
				flex 
				justify-center 
				items-center 
				gap-[5px];
			svg {
				@apply leftpanel-svg-size;
			}
			span {
				@apply 
					text-[13px] 
					font-['Space_Grotesk'] 
					text-white font-[400];
			}
		}

		&:not(:has(button)):hover {
			background-color: #e9e9e9;
		}

		&:last-child {
			@apply mb-[10px]
		}
	}
}

@layer components {
	.dropdown {
		@apply leftpanel-item;
		span {
			@apply
				text-[13px]
				font-sans
				flex-grow
				text-[rgba(0,0,0,0.5)]
		}
		svg {
			@apply leftpanel-svg-size flex-grow
		}
	}
}
