.left-panel {
	background-color: var(--leftpanel-maincontainer-clr);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: transparent transparent;
	margin-bottom: 10px;
}
.leftpanel-container {
	width: 90%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 20px; /* the gap between the logo and items */
	align-items: center;
	/* background-color: yellow; */
}
.logo-container {
	width: 95%;
	padding-left: 2vh;
	display: flex;
	justify-content: flex-start;
	/* background-color: yellow; */
}
.items-container {
	width: 95%;
	/* background-color: green; */
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-end;
	gap: 1vh; /* the gap between each left-panel item */
}
.item {
	width: 90%;
	/* background-color: red; */
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 10px 10px;
	border-radius: 10px;
	cursor: pointer;

	& span {
		font-size: 14px; /* the size of the item label font */
		font-family: 'Space Grotesk', sans-serif;
		color: rgba(0, 0, 0, 0.7);
	}
	& svg {
		width: 24px;
		height: 24px;
		/* height and width of the svg */
	}
	& button {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 5px;
		align-items: center;
		background-color: #42acde;
		outline-color: transparent;
		border: none;
		border-radius: 20px;
		color: white;
		padding: 1vh;
		width: 100%;

		& svg {
			height: 20px;
			width: 20px;
		}

		& span {
			font-weight: 400;
			font-size: 13px;
			font-family: 'Space Grotesk', sans-serif;
			color: white;
		}
	}
}
.item:not(:has(button)):hover {
	background-color: #e9e9e9;
}
.dropdown {
	width: 90%;
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 10px 10px;
	border-radius: 10px;

	& span {
		font-size: 13px;
		font-family: 'Inter', sans-serif;
		flex-grow: 1;
		color: rgba(0, 0, 0, 0.5);
	}
	& svg {
		height: 24px;
		width: 24px;
		flex-grow: 1;
	}
}
