@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--leftpanel-maincontainer-clr: #f4f4f2;
	--primary-secondary-rightpanel-clr: #ffffff;
}

body {
	padding: 0;
	margin: 0;
	height: 100vh;
	overflow: hidden;
}
.main-container {
	height: 100vh;
	display: grid;
	grid-template-columns: 0.9fr 5fr; /* the width of the left-panel and the main container */
	background-color: var(--leftpanel-maincontainer-clr);
}

.primary-middle-section {
	background-color: var(--primary-secondary-rightpanel-clr);
	/* background-color: blue; */
	height: 98%;
	width: 99%;
	align-self: flex-end;
	display: grid;
	grid-template-columns: 4fr 1fr;
	border-radius: 50px 0 0 0;
}
.secondary-middle-section {
	/* background-color: transparent; */
	width: 90%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: flex-end;
	/* background-color: red; */
}
.interaction-section {
	/* background-color: purple; */
	width: 80%;
	height: 30vh;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.search-panel {
	width: 100%;
	height: 30vh;
	/* background-color: blue; */
}
.post-section {
	width: 100%;
	height: 70vh;
	/* background-color: yellow; */
}

.feed-section {
	width: 80%;
	height: 70vh;
	/* background-color: violet; */
}

.right-panel {
	background-color: var(--primary-secondary-rightpanel-clr);
}
